<nav class="navbar navbar-expand-lg  position-absolute top-0  w-100 mt-4  z-3 p-0 b animate__animated animate__backInLeft">
    <div class="container bg-nav rounded-4   px-3">
        
      <button class="button" data-text="Awesome">
        <span class="actual-text ">&nbsp;movies&nbsp;</span>
        <span aria-hidden="true" class="hover-text ">&nbsp;movies&nbsp;</span>
    </button>
      <button class="navbar-toggler bg-main" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon "></span> -->
        <i class="fa-solid fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav  ms-auto">
          <a class="text-decoration-none p-2   text-white " aria-current="page" routerLinkActive=" fw-bolder color-min" routerLink="home">Home</a>
          <a class="text-decoration-none p-2   text-white" routerLinkActive=" fw-bolder color-min" routerLink="movie">Movies</a>
          <a class="text-decoration-none p-2  text-white" routerLinkActive=" fw-bolder color-min" routerLink="Tv">Tv</a>
          <button class="btn bg-main text-white  rounded-4 fs-app  ms-3 d-block animate__animated animate__bounce animate__delay-1s">Sign in</button>
        </div>
      </div>
    </div>
  </nav>