<footer class="bg-black py-4 ">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    
                    <button class="button" data-text="Awesome">
                        <span class="actual-text font">&nbsp;movies&nbsp;</span>
                        <span aria-hidden="true" class="hover-text font">&nbsp;movies&nbsp;</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row gap-4">
                    <div class="col-md-3">
                        <div class="text-center">
                            <h5>Company</h5>
                            <p>About</p>
                            <p>Careers</p>
                            <p>Our Culture</p>
                            <p>Giving</p>
                            <p>Partners</p>
                            <p>News</p>
                            <p>movies Gear</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="text-center">
                            <h5>Movies pass</h5>
                            <p>Go Premium</p>
                            <p>MoviesMap</p>
                            <p>Movies Labs</p>
                            <p>Get Perks</p>
                            <p>TIDAL x Movies </p>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="text-center">
                            <h5>Support</h5>
                            <p>Finding Help</p>
                            <p>Support Library</p>
                            <p>Community Forums</p>
                            <p>Billing Questions</p>
                            <p>Status</p>
                            <p>Bug Bounty</p>
                            <p>CordCutter</p>
                            <p>Get in Touch</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>